name: Generate GitHub Metrics

on:
  schedule:
    - cron: "0 */12 * * *"  # runs twice a day
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Syroko8
          template: classic
          base: header, activity, repositories, metadata
          
          config_timezone: America/Argentina/Buenos_Aires

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          plugin_achievements: yes
          plugin_achievements_display: compact
          plugin_achievements_threshold: C

          plugin_lines: yes

          filename: metrics.svg
